.button {
    padding: 16px;
    border: 0;
    background-color: #9b59b6;
    transition: background-color 0.2s;
    color: white;
    font: inherit;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &:focus,
    &:hover {
      background-color: #8e44ad;
    }
  
    &:active {
      transform: translate(1px, 1px);
    }
  }
  